
/* General Demo Style */
#loginPage,#registerPage
{
	font-family: Cambria;
	font-weight: 400;
	font-size: 15px;
	color: black;
	overflow-y: scroll;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: auto;
}

.form-actions a{
	color: lightpink;
	text-decoration: underline;
}

.login h2{
	margin-top: 0;
}

.login{
	height: 150%;
	position: relative;
	text-align: center;
	background: white;
    width: 40%;
    left: 30%;
	padding: 2%;
	box-sizing: content-box;
	box-shadow: 0px 0px 20px 5px lightgrey;
	border-style: solid;
	border-color: lightpink;
	border-width: 1px;
	margin-bottom: 5%;
}

form{
	text-align: justify;
}
.form-group{
	margin: inherit;
	margin-bottom: 5px;
}
label{
	display: block;
	width: 150px;
	float: left;
}
.form-control{
	border: 1px solid lightgrey;
	margin-right: 1%;
	border-radius: 2px;
	padding: 5px;
	transition: all 0.5s ease;
	border-color:lightpink;
}
/* survol cases et quand on clique sur case pour hover et focus */
.form-control:hover {
	background-color: lightpink;
	border-radius: 100px;
}
.form-control:focus {
	background-color: lightpink;
	color: grey;
}
.help-block{
	
}
.form-actions{
	text-align: center;
	position: relative;
	margin: inherit;
	margin-top: 5%;
}
.submit-btn{
	margin-right: 20%;
	background-color: white;
	border: 1px solid lightpink;
	border-radius: 2px;
}

.submit-btn:hover{
	background-color: lightpink;
	border-radius: 100px;
	cursor: pointer;
}


/*
.password {
	background-image: url('../img/CADENAS.png');
	background-repeat: no-repeat;
	background-position: 2px 3px;
	padding-left: 25px;
}
*/