.box{
	display: block;
	text-align: center;
}

.image1{
  width: 200px;
  height: 200px;
  text-align: center;
}

.image2{
	display: block;
  width: 200px;
	height: 200px;
	margin: 40px;
}

.text{
	text-align: center;
}

.lig-container {
    display: table;
    width: 100%;
}
.lig {
    display: table-cell;
    padding: 16px;
}
