
div.styleTitrePrincipal h1{
		/*text-decoration: underline;*/
	color: #696969;
	font-family:modern, monospace;
	font-size: 25px;
}


div.styleTitreSecondaire h1{
		/*text-decoration: underline;*/
	color: #696969;
	font-family:modern, monospace;
	font-size: 25px;
	text-align: center;
}


div.styleTitre h2
{
	color:#333333;
	display: block;
	font-family:modern, monospace;
	font-size: 20px;
}


img.logo{
	width: 35px;
	position: relative;
	left : 10px;
	top: 12px;
}

img.logo:hover{
	width: 35px;
	opacity: 0.7;
	position: relative;
	left : 10px;
	top: 12px;
}

h1#position{
    text-align: left;
    text-indent: 1%;
}

.positionPage{
	display: block;
	width: 70%;
	padding: 10px;
	margin-left: auto;
    margin-right: auto;
	background-color: #F5F5DC;
	box-shadow : 1px 1px 5px black;
	margin-bottom: 20px;
	margin-top: 20px;
}

.positionPagePartieDeux{
	display: block;
	width: 70%;
	padding: 10px;
	margin-left: auto;
    margin-right: auto;
	background-color: #F5F5DC;
	box-shadow : 1px 1px 5px grey;
	margin-bottom: 20px;
	margin-top: 20px;
}

#tshirtImage{
	float: left;
	margin-right: 30px;
    width: 61%;
    right: -20%;
}

p#Price
{
	font-size: 25px;
	color: #555;
	font-family:modern, monospace;
}

p#delivery
{
	font-size: 14px;
	font-style: italic;
	font-family:modern, monospace;
	position: relative;
}

.styleComment{
	color:#333333;
	display: block;
	font-family:modern, monospace;
	font-size: 18px;

}

div.comment p
{
	font-family:modern, monospace;
	position:relative;
	font-style: italic;
	color: #696969;
}

div.description
{
	font-family:modern, monospace;
	position:relative;
	color: #2F4F4F;
}

div.rawStyle{
	font-family:modern, monospace;
	position:relative;
	color: #696969;
}


.buttonAchat {
    background-color: #555555; /* Black */
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.buttonAchat:hover {
    background-color: #e7e7e7; /* Grey */
    border: none;
    color: black;
    padding: 15px 50px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.styleTaille{
    background-color: none;
    color: black;
    padding: 6px 12px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}

.styleTaille:hover{
    background-color: #555555; /* Black */
    color: white;
    padding: 6px 12px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

#tailleLogo{
	width: 12px;
}

.buttonBis {
    padding: 15px;
    border: black;
    display: inline-block;
    font-size: 8px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow : 3px 3px 5px black;
}

.colorButtonBis
{
	 background-color: #4CAF50; /* Green */
}

.lastArticle{	
    width: 80%;
    margin-right: 11px;
}

.buttonDiscover{
	background-color: #DEB887; 
	font-family:modern, monospace;
	font-weight: bold;
    border: none;
    color: white;
    padding: 5px;
    width: 80%;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin-right: 11px;
}

.buttonDiscover:hover{
	background-color: #F5F5DC; 
	font-family:modern, monospace;
	font-weight: bold;
    border: none;
    color: black;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    margin-right: 11px;
}

.blocleft{
	display: block;
	width: 33%;
	padding: 10px;
    float:left;
    text-align: center;	
}

.blocright{
	display: block;
	width: 33%;
	padding: 10px;
	float: right;
	text-align: center;	
}

.blocmiddle{
	display: block;
	width: 33%;
	padding: 10px;
	margin-left: auto;
    margin-right: auto;
    text-align:center;
}

#Price2{
	font-size: 20px;
	color: #555;
	font-family:modern, monospace;
}